<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <h2>Recipes in Category: <%= category %></h2>
        <ul class="recipesList list-group list-group-flush">
          <% recipes.forEach(function(recipe) { %>
            <li class="list-group-item">
              
              <div>
                <a href=<%= "/recipes/" + recipe.ID %>><%= recipe.NAME %></a>
              </div>

              <div>
                <%= recipe.DESCRIPTION %>
              </div>

              <div>
               Rating: <%= recipe.RATING %>
              </div>

            </li>
          <% }) %>
        </ul>
      </div>

    </div>
</body>