<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/styles/recipes.css">
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

        <h1><%= recipe.NAME %></h1>
        <div class="description"><%= recipe.DESCRIPTION %></div>

        <br>

        <div class="directions">
            <h3> Directions </h3>
            <%= recipe.DIRECTIONS %>
        </div>

        <br>

        <h3>Ingredients</h3>
        <ul class="ingredients">
            <% recipe.INGREDIENTS.forEach(function(ingredient) { %>
            <li class="list-group-item">
                <a href=<%= '/ingredients/' + ingredient.NUTRITION_ID %>>
                    <%= ingredient.INGREDIENT_NAME %>
                </a>
            </li>
          <% }) %>
        </ul>

    </div>
</body>