<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <h2>Recipes</h2>

        <% if(pageNum == 1) { %>
          <div class="btn-group" role="group">
            <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
          </div>
        <% } else { %>
          <div class="btn-group" role="group">
            <button id="prev-btn" class="btn btn-sm btn-outline-primary">Previous Page</button>
            <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
          </div>
        <% } %>

        <br><br>
        <div class="card-columns">
          <% recipes.forEach(function(recipe) { %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href=<%= "/recipes/" + recipe.ID %>><%= recipe.NAME %></a></h5>
                <div class="card-text">
                  <div>
                    <%= recipe.DESCRIPTION %>
                  </div>

                  <div>
                   <em>Rating:</em> <%= recipe.RATING %>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>   
        </div>
        
      </div>
    </div>
    <script src="/scripts/pagination.js"></script>
</body>