<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/styles/recipes.css">
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <h2>Recipes</h2>
        <ul class="recipesList list-group list-group-flush">
          <% recipes.forEach(function(recipe) { %>
            <li class="list-group-item">
              
              <div class="row-item">
                <a href=<%= "recipes/" + recipe.id %>><%= recipe.name %></a>
              </div>

              <div class="row-item description" >
                <%= recipe.description %>
              </div>

              <div class="row-item">
               Rating: <%= recipe.rating %>
              </div>

            </li>
          <% }) %>
        </ul>
      </div>


    </div>
</body>