<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <h2>Recipes</h2>

        <% if(pageNum == 1) { %>
          <button style="display: none" id="prev-btn" class="btn btn-sm btn-secondary">Previous Page</button>
          <button id="next-btn" class="btn btn-sm btn-secondary">Next Page</button>
        <% } else { %>
          <button id="prev-btn" class="btn btn-sm btn-secondary">Previous Page</button>
          <button id="next-btn" class="btn btn-sm btn-secondary">Next Page</button>
        <% } %>

        <br><br>

        <ul class="recipesList list-group list-group-flush">
          <% recipes.forEach(function(recipe) { %>
            <li class="list-group-item">
              
              <div>
                <a href=<%= "/recipes/" + recipe.ID %>><%= recipe.NAME %></a>
              </div>

              <div>
                <%= recipe.DESCRIPTION %>
              </div>

              <div>
               Rating: <%= recipe.RATING %>
              </div>

            </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <script src="/scripts/pagination.js"></script>
</body>