<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/styles/recipes.css">
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

        <h1><%= recipe.NAME %></h1>
        <div class="description"><%= recipe.DESCRIPTION %></div>

        <br/>

        <div class="directions">
            <h3> Directions </h3>
            <%= recipe.DIRECTIONS %>
        </div>

        <br>

        <h3>Ingredients</h3>
        <ul class="ingredients">
            <% recipe.INGREDIENTS.forEach(function(ingredient) { %>
            <li class="list-group-item">
                <a href=<%= '/ingredients/' + ingredient.NUTRITION_ID %>>
                    <%= ingredient.INGREDIENT_NAME %>
                </a>
            </li>
          <% }) %>
        </ul>

        <h3>Categories</h3>
        <% recipe.CATEGORIES.forEach(function(category) { %>
            <span style="padding-right: 10px;">
                <a href=<%= '/categories/' + category.replace(/ /g, "_") %>>
                    <%= category %>
                </a>
            </span>
        <% }) %>
        <br/><br/>

        <% if(name && inFavorites) { %>
            <button id="add-fav-btn" class="btn btn-primary" style="display:none;">Add To Favorites</button>
            <button id="remove-fav-btn" class="btn btn-danger">Remove From Favorites</button>
        <% } %>
        <% if(name && !inFavorites) { %>
            <button id="add-fav-btn" class="btn btn-danger">Add From Favorites</button>
            <button id="remove-fav-btn" class="btn btn-danger" style="display:none;">Remove From Favorites</button>
        <% } %>
    </div>
    <script src="/scripts/recipe.js"></script>
</body>