<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div class="pageContent">

      <div class="recipesContainer">
        <% if (resultsType == "recipes") { %>
          <h2>Recipe Search Results</h2>
        <% } else if (resultsType == "ingredients") { %>
          <h2>Ingredients Search Results</h2>
        <% } else { %>
          <h2>Categories Search Results</h2>
        <% } %>

        <% if (totalPages >= 2) { %>
          <% if(pageNum == 1) { %>
            <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
          <% } else if (pageNum >= totalPages) { %>
            <button id="prev-btn" class="btn btn-sm btn-outline-primary">Previous Page</button>
          <% } else { %>
            <div class="btn-group" role="group">
              <button id="prev-btn" class="btn btn-sm btn-outline-primary">Previous Page</button>
              <button id="next-btn" class="btn btn-sm btn-outline-primary">Next Page</button>
            </div>
          <% } %>
        <% } %>

        <br><br>

        <% if (resultsType == "recipes") { %>
          <div class="card-columns">
            <% results.forEach(function(recipe) { %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><a href=<%= "/recipes/" + recipe.ID %>><%= recipe.NAME %></a></h5>
                  <div class="card-text">
                    <div>
                      <%= recipe.DESCRIPTION %>
                    </div>

                    <div>
                     <em>Rating:</em> <%= recipe.RATING %>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>   
          </div>
        <% } else if (resultsType == "ingredients") { %>
          <ul class="list-group list-group-flush">
            <% results.forEach(function(ingredient) { %>
              <li class="list-group-item"><a href=<%= "/ingredients/"+ingredient.ID %>>%><%= ingredient.NAME %></a></li>
            <% }) %>
          </ul>
        <% } else { %>
          <ul class="list-group list-group-flush">
            <% results.forEach(function(category) { %>
              <li class="list-group-item"><a href=<%= "/categories/" + category[0].replace(/ /g, "_") %>>%><%= category %></a></li>
            <% }) %>
          </ul>
        <% } %>
        
      </div>
    </div>
    <script src="/scripts/pagination.js"></script>
</body>